openapi: 3.0.0
info:
  title: La Vitrine Culturelle Data Consumer API (JSON-LD)
  description: The La Vitrine Culturelle Data Consumer API is a RESTful API that provides access to La Vitrine Culturelle's data. The API is designed to be used by third-party applications that wish to display La Vitrine Culturelle's data on their own websites or applications.
  version: 1.0.0
servers:
  - url: https://api.lavitrine.com/v1
    description: Production server
  - url: https://staging-api.lavitrine.com
    description: Staging server
paths:
  /events/{id}:
    get:
      summary: Get event data by ID
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the event
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: >
                {
                  "@context": "http://schema.org",
                  "@type": "Event",
                  "identifier": 14,
                  "eventCollectionId": 1,
                  "name": "John Smith Comedy Show",
                  "description": "Join us for a night of laughter with the hilarious John Smith.",
                  "url": "https://example.com/event-page",
                  "image": "https://example.com/some-image.jpg",
                  "thumbnail": "https://example.com/some-thumbnail.jpg",
                  "audience": {
                    "@type": "Audience",
                    "audienceType": "Adult"
                  },
                  "eventStatus": "EventRescheduled",
                  "eventAttendanceMode": "OfflineEventAttendanceMode",
                  "previousStartDate": "2024-02-15T19:00:00",
                  "startDate": "2024-02-15T19:00:00",
                  "endDate": "2024-02-15T21:00:00",
                  "duration": "PT2H",
                  "inLanguage": "en",
                  "superEvent": {
                    "@type": "EventSeries",
                    "identifier": 6,
                    "name": "Comedy Tour 2024"
                  },
                  "performer": {
                    "@type": "Person",
                    "identifier": 10,
                    "name": "John Smith",
                    "image": "https://www.johnsmithcomedy.com/images/john-smith.jpg",
                    "thumbnail": "https://example.com/john-smith-thumbnail.jpg",
                    "url": "https://john-smith.com",
                    "sameAs": ["https://www.linkedin.com/in/john-smith", "https://twitter.com/john-smith", "https://www.facebook.com/john-smith"]
                  },
                  "location": {
                    "identifier": 23,
                    "name": "Comedy Club A",
                    "image": "https://example.com/photo.jpg",
                    "thumbnail": "https://example.com/photo-thumbnail.jpg",
                    "url": "https://comedy-club-a.com",
                    "sameAs": ["https://www.linkedin.com/in/comedy-club-a", "https://twitter.com/comedy-club-a", "https://www.facebook.com/comedy-club-a"],
                    "address": {
                      "streetAddress": "789 Laughter Lane",
                      "addressLocality": "Humorville",
                      "addressRegion": "Quebec",
                      "postalCode": "G1T 4R1",
                      "addressCountry": "CA"
                    },
                    "geo": {
                      "@type": "GeoCoordinates",
                      "latitude": 37.23332,
                      "longitude": -133.4333
                    },
                    "maximumAttendeeCapacity": 240
                  },
                  "offers": {
                    "url": "http://example.com/ticket-sales-club-a",
                    "priceCurrency": "CAD",
                    "priceSpecification": {
                      "price": 10.0,
                      "minPrice": 5.0
                    },
                    "availability": "InStock",
                    "availabilityEnds": "2024-03-04T10:00:00",
                    "availabilityStarts": "2023-08-04T10:00:00"
                  },
                  "isAccessibleForFree": false,
                  "lastModified": "2024-02-15T19:00:00",
                  "disciplines": [
                    {
                      "identifier": 304,
                      "code": "UI-D-Comedy",
                      "label": "Comedy",
                      "vocabularyName": "V1UITaxoDVitrine",
                      "additionalTypeIdVitrine": "V1UITaxoDVitrine_UI-D-Comedy"
                    }
                  ]
                }            
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: An Event with specified ID not found.
        '5XX':
          description: Unexpected error.
  /exhibitionEvents/{id}:
    get:
      summary: Get exhibitionEvents data by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the exhibition
        - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: >
                {
                  "@context": "http://schema.org",
                  "@type": "ExhibitionEvent",
                  "identifier": 492,
                  "exhibitionType": "Permanent",
                  "name": "John Smith Exhibition",
                  "description": "Join us for a night of laughter with the hilarious John Smith.",
                  "url": "https://example.com/exhibition-page",
                  "eventAttendanceMode": "OfflineEventAttendanceMode",
                  "eventStatus": "EventScheduled",
                  "inLanguage": "en",
                  "audience": {
                    "@type": "Audience",
                    "audienceType": "Adult"
                  },
                  "image": "https://example.com/some-image.jpg",
                  "thumbnail": "https://example.com/some-thumbnail.jpg",
                  "performer": {
                    "@type": "Person",
                    "identifier": 853,
                    "name": "John Smith",
                    "image": "https://example.com/john-smith.jpg",
                    "thumbnail": "https://example.com/john-smith-thumbnail.jpg",
                    "sameAs": [
                      "https://www.linkedin.com/in/john-smith",
                      "https://twitter.com/john-smith",
                      "https://www.facebook.com/john-smith"
                    ]
                  },
                  "location": {
                    "identifier": 23,
                    "name": "Comedy Club A",
                    "image": "https://example.com/photo.jpg",
                    "thumbnail": "https://example.com/photo-thumbnail.jpg",
                    "url": "https://comedy-club-a.com",
                    "sameAs": ["https://www.linkedin.com/in/comedy-club-a", "https://twitter.com/comedy-club-a", "https://www.facebook.com/comedy-club-a"],
                    "address": {
                      "streetAddress": "789 Laughter Lane",
                      "addressLocality": "Humorville",
                      "addressRegion": "Quebec",
                      "postalCode": "G1T 4R1",
                      "addressCountry": "CA"
                    },
                    "geo": {
                      "@type": "GeoCoordinates",
                      "latitude": 37.23332,
                      "longitude": -133.4333
                    },
                    "maximumAttendeeCapacity": 240
                  },
                  "offers": {
                    "url": "http://example.com/ticket-sales-club-a",
                    "priceCurrency": "CAD",
                    "price": 25.00,
                    "availability": "InStock",
                    "availabilityEnds": "2024-03-04T10:00:00",
                    "availabilityStarts": "2023-08-04T10:00:00"
                  },
                  "isAccessibleForFree": false,
                  "lastModified": "2024-02-15T19:00:00",
                  "disciplines": [
                    {
                      "identifier": 304,
                      "code": "UI-D-Comedy",
                      "label": "Comedy",
                      "vocabularyName": "V1UITaxoDVitrine",
                      "additionalTypeIdVitrine": "V1UITaxoDVitrine_UI-D-Comedy"
                    }
                  ]
                }
        '404':
          description: An Exhibition with specified ID was not found.
        '401':
          description: Authorization information is missing or invalid.
        '5XX':
          description: Unexpected error.
  /eventSeries/{id}:
    get:
      summary: Get eventSeries data by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the series
        - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: >
                {
                  "@context": "http://schema.org",
                  "@type": "EventSeries",
                  "identifier": 6,
                  "name": "John Smith Comedy Festival",
                  "description": "Join us for a night of laughter with the hilarious John Smith.",
                  "eventAttendanceMode": "OfflineEventAttendanceMode",
                  "eventStatus": "EventScheduled",
                  "inLanguage": "en",
                  "audience": {
                    "@type": "Audience",
                    "audienceType": "Adult"
                  },
                  "startDate": "2023-12-15T19:00:00",
                  "endDate": "2024-03-14T19:00:00",
                  "image": "https://example.com/some-image.jpg",
                  "thumbnail": "https://example.com/some-thumbnail.jpg",
                  "performer": {
                    "@type": "Person",
                    "identifier": 10,
                    "name": "John Smith",
                    "image": "https://www.johnsmithcomedy.com/images/john-smith.jpg",
                    "thumbnail": "https://example.com/john-smith-thumbnail.jpg",
                    "url": "https://john-smith.com",
                    "sameAs": ["https://www.linkedin.com/in/john-smith", "https://twitter.com/john-smith", "https://www.facebook.com/john-smith"]
                  },
                  "location": {
                    "@type": "Place",
                    "identifier": "415",
                    "name": "Example Place A",
                    "url": "https://example-place-a.com",
                    "image": "https://example.com/some-image.jpg",
                    "thumbnail": "https://example.com/some-thumbnail.jpg",
                    "address": {
                      "streetAddress": "789 Laughter Lane",
                      "addressLocality": "Humorville",
                      "addressRegion": "Quebec",
                      "postalCode": "G1T 4R1",
                      "addressCountry": "CA"
                    },
                    "geo": {
                      "@type": "GeoCoordinates",
                      "latitude": 37.23332,
                      "longitude": -133.43330
                    },
                    "maximumAttendeeCapacity": 240
                  },
                  "isAccessibleForFree": true,
                  "subEvent": [
                    {
                      "@type": "Event",
                      "identifier": 14,
                      "name": "John Smith Comedy Show",
                      "image": "https://example.com/some-image.jpg",
                      "thumbnail": "https://example.com/some-thumbnail.jpg",
                      "startDate": "2024-02-15T19:00:00",
                      "endDate": "2024-02-15T21:00:00",
                      "performer": {
                        "@type": "Person",
                        "identifier": 10,
                        "name": "John Smith",
                        "image": "https://www.johnsmithcomedy.com/images/john-smith.jpg",
                        "thumbnail": "https://example.com/john-smith-thumbnail.jpg",
                        "url": "https://john-smith.com",
                        "sameAs": ["https://www.linkedin.com/in/john-smith", "https://twitter.com/john-smith", "https://www.facebook.com/john-smith"]
                      },
                      "location": {
                        "@type": "Place",
                        "identifier": "23",
                        "name": "Comedy Club A",
                        "url": "https://comedy-club-a.com"
                      }
                    },
                    {
                      "@type": "Event",
                      "identifier": 15,
                      "name": "Jane Doe Comedy Show",
                      "image": "https://example.com/some-image.jpg",
                      "thumbnail": "https://example.com/some-thumbnail.jpg",
                      "startDate": "2024-02-15T19:00:00",
                      "endDate": "2024-02-15T21:00:00",
                      "performer": {
                        "@type": "Person",
                        "identifier": 11,
                        "name": "Jane Doe",
                        "image": "https://www.janedoecomedy.com/images/jane-doe.jpg",
                        "thumbnail": "https://example.com/jane-doe-thumbnail.jpg",
                        "url": "https://jane-doe.com",
                        "sameAs": ["https://www.linkedin.com/in/jane-doe", "https://twitter.com/jane-doe", "https://www.facebook.com/jane-doe"]
                      },
                      "location": {
                        "@type": "Place",
                        "identifier": "24",
                        "name": "Comedy Club B",
                        "url": "https://comedy-club-b.com"
                      }
                    }
                  ],
                  "lastModified": "2024-02-15T19:00:00",
                  "disciplines": [
                    {
                      "identifier": 304,
                      "code": "UI-D-Comedy",
                      "label": "Comedy",
                      "vocabularyName": "V1UITaxoDVitrine",
                      "additionalTypeIdVitrine": "V1UITaxoDVitrine_UI-D-Comedy"
                    }
                  ]
                }
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Event Series with specified ID not found.
        '5XX':
          description: Unexpected error.
  /searchEvents:
    get:
      summary: Retrieve events based on search parameters, returns list of results. Only active / validated events are returned. Used to gather lists of events then separate calls to the API are made to get details for each event.
      parameters:
        - name: schema
          in: query
          description: filter by specific event type only
          required: false
          schema:
            type: string
            enum:
             - EventCollection
             - Event
             - EventSeries
             - ExhibitionEvent
        - name: eventCollectionId
          in: query
          description: filter on eventCollectionId, this will only return events for a given eventCollection.
          required: false
          schema:
            type: string
        - name: contributor
          in: query
          description: filter on contributor, this will return all active events for a given contributor
          required: false
          schema:
            type: string
        - name: place
          in: query
          description: filter on place, this will return all active events for a given place
          required: false
          schema:
            type: string
        - name: startDate
          in: query
          description: filter on startDate (UNIX Timestamp), this will return all "offers" for a given startDate
          required: false
          schema:
            type: integer
        - name: endDate
          in: query
          description: filter on date range by adding endDate (UNIX Timestamp) if startDate has a value. If startDate is null, filter on endDate only.
          required: false
          schema:
            type: integer
        - name: discipline
          in: query
          description: filter on discipline code, this will return all active events for a given discipline
          required: false
          schema:
            type: string
        - name: audience
          in: query
          description: filter on audience type, this will return all active events for a given audience type
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the amount of data returned (default is 10)
          required: false
          schema:
            type: integer
            default: 10
        - name: offset
          in: query
          description: Offset for paginating results (default is 0)
          required: false
          schema:
            type: integer
            default: 0
        - name: lastModified
          in: query
          description: UNIX Timestamp (UTC)
          required: false
          schema:
            type: integer
        - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: >
                [
                  {
                    "@context": "http://schema.org",
                    "@type": "Event",
                    "identifier": 14,
                    "eventCollectionId": 1,
                    "lastModified": "2024-02-15T19:00:00"
                  },
                  {
                    "@context": "http://schema.org",
                    "@type": "ExhibitionEvent",
                    "identifier": 1513,
                    "lastModified": "2024-02-15T19:00:00"
                  },
                  {
                    "@context": "http://schema.org",
                    "@type": "ItemList",
                    "identifier": 1,
                    "lastModified": "2024-02-15T19:00:00"
                  },
                  {
                    "@context": "http://schema.org",
                    "@type": "EventSeries",
                    "identifier": 6,
                    "lastModified": "2024-02-15T19:00:00"
                  }
                ]
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Not found.
        '5XX':
          description: Unexpected error.
  /places/{id}:
    get:
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the place
        - $ref: '#/components/parameters/lang'
      summary: Get place details by ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: >
                {
                  "@context": "http://schema.org",
                  "@type": "Place",
                  "identifier": 123,
                  "name": "Event Venue A",
                  "description": "A beautiful location to host your next event",
                  "url": "https://example-venue-a.com",
                  "address": {
                    "streetAddress": "789 Laughter Lane",
                    "addressLocality": "Humorville",
                    "addressRegion": "Quebec",
                    "postalCode": "G1T 4R1",
                    "addressCountry": "CA"
                  },
                  "geo": {
                    "@type": "GeoCoordinates",
                    "latitude": 37.23332,
                    "longitude": -133.43330
                  },
                  "maximumAttendeeCapacity": 1000,
                  "image": "https://example.com/some-image.jpg",
                  "thumbnail": "https://example.com/some-thumbnail.jpg",
                  "containedInPlace": {
                    "identifier": 1,
                    "name": "Main Event Venue"
                  },
                  "event": [
                    {
                      "@type": "Event",
                      "identifier": 14,
                      "name": "John Smith Comedy Show",
                      "description": "Join us for a night of laughter with the hilarious John Smith.",
                      "startDate": "2024-02-15T19:00:00",
                      "endDate": "2024-02-15T21:00:00",
                      "image": "https://example.com/some-image.jpg",
                      "thumbnail": "https://example.com/some-thumbnail.jpg",
                      "eventStatus": "EventScheduled",
                      "eventAttendanceMode": "OfflineEventAttendanceMode",
                      "location": {
                        "@type": "Place",
                        "identifier": 123,
                        "name": "Event Venue A",
                        "image": "https://example.com/some-image.jpg",
                        "thumbnail": "https://example.com/some-thumbnail.jpg",
                        "url": "https://example-venue-a.com",
                        "sameAs": ["https://www.linkedin.com/in/event-venue-a", "https://twitter.com/event-venue-a", "https://www.facebook.com/event-venue-a"],
                        "address": {
                          "streetAddress": "789 Laughter Lane",
                          "addressLocality": "Humorville",
                          "addressRegion": "Quebec",
                          "postalCode": "G1T 4R1",
                          "addressCountry": "CA"
                        },
                        "geo": {
                          "@type": "GeoCoordinates",
                          "latitude": 37.23332,
                          "longitude": -133.43330
                        },
                        "maximumAttendeeCapacity": 1000
                      },
                      "performer": {
                        "@type": "Person",
                        "identifier": 10,
                        "name": "John Smith",
                        "image": "https://www.johnsmithcomedy.com/images/john-smith.jpg",
                        "thumbnail": "https://example.com/john-smith-thumbnail.jpg",
                        "url": "https://john-smith.com",
                        "sameAs": ["https://www.linkedin.com/in/john-smith", "https://twitter.com/john-smith", "https://www.facebook.com/john-smith"]
                      },
                      "offers": {
                        "url": "http://example.com/ticket-sales-club-a",
                        "priceCurrency": "CAD",
                        "price": 600.00,
                        "availability": "InStock",
                        "availabilityEnds": "2024-03-04T10:00:00",
                        "availabilityStarts": "2023-08-04T10:00:00"
                      },
                      "isAccessibleForFree": false,
                      "disciplines": [
                        {
                          "identifier": 304,
                          "code": "UI-D-Comedy",
                          "label": "Comedy",
                          "vocabularyName": "V1UITaxoDVitrine",
                          "additionalTypeIdVitrine": "V1UITaxoDVitrine_UI-D-Comedy"
                        }
                      ]
                    },
                    {
                      "@type": "Event",
                      "identifier": 15,
                      "name": "Jane Doe Comedy Show",
                      "description": "Join us for a night of laughter with the hilarious Jane Doe.",
                      "startDate": "2024-02-15T19:00:00",
                      "endDate": "2024-02-15T21:00:00",
                      "eventStatus": "EventScheduled",
                      "eventAttendanceMode": "OfflineEventAttendanceMode",
                      "image": "https://example.com/some-image.jpg",
                      "thumbnail": "https://example.com/some-thumbnail.jpg",
                      "location": {
                        "@type": "Place",
                        "identifier": 123,
                        "name": "Event Venue A",
                        "image": "https://example.com/some-image.jpg",
                        "thumbnail": "https://example.com/some-thumbnail.jpg",
                        "url": "https://example-venue-a.com",
                        "sameAs": ["https://www.linkedin.com/in/event-venue-a", "https://twitter.com/event-venue-a", "https://www.facebook.com/event-venue-a"],
                        "address": {
                          "streetAddress": "789 Laughter Lane",
                          "addressLocality": "Humorville",
                          "addressRegion": "Quebec",
                          "postalCode": "G1T 4R1",
                          "addressCountry": "CA"
                        },
                        "geo": {
                          "@type": "GeoCoordinates",
                          "latitude": 37.23332,
                          "longitude": -133.43330
                        },
                        "maximumAttendeeCapacity": 1000
                      },
                      "performer": {
                        "@type": "Person",
                        "identifier": 11,
                        "name": "Jane Doe",
                        "image": "https://www.janedoecomedy.com/images/jane-doe.jpg",
                        "thumbnail": "https://example.com/jane-doe-thumbnail.jpg",
                        "url": "https://jane-doe.com",
                        "sameAs": ["https://www.linkedin.com/in/jane-doe", "https://twitter.com/jane-doe", "https://www.facebook.com/jane-doe"]
                      },
                      "offers": {
                        "url": "http://example.com/ticket-sales-club-a",
                        "priceCurrency": "CAD",
                        "price": 600.00,
                        "availability": "InStock",
                        "availabilityEnds": "2024-03-04T10:00:00",
                        "availabilityStarts": "2023-08-04T10:00:00"
                      },
                      "isAccessibleForFree": false,
                      "disciplines": [
                        {
                          "identifier": 304,
                          "code": "UI-D-Comedy",
                          "label": "Comedy",
                          "vocabularyName": "V1UITaxoDVitrine",
                          "additionalTypeIdVitrine": "V1UITaxoDVitrine_UI-D-Comedy"
                        }
                      ]
                    }
                  ],
                  "sameAs": [
                    "https://www.linkedin.com/in/event-venue-a",
                    "https://twitter.com/event-venue-a",
                    "https://www.facebook.com/event-venue-a"
                  ],
                  "lastModified": "2024-02-15T19:00:00"
                }
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: A place with specified ID not found.
        '5XX':
          description: Unexpected error.
  /places:
    get:
      summary: Query places, returns list of results. Only validated places are returned. Used to gather lists of places then separate calls to the API are made to get details for each place.
      parameters:
        - name: lastModified
          in: query
          description: UNIX Timestamp (UTC)
          required: false
          schema:
            type: integer
        - $ref: '#/components/parameters/lang'
      responses:
        "200":
          description: OK
          content:
            application/json:
              example: >
                [
                  {             
                    "@content": "http://schema.org",
                    "@type": "Place",
                    "identifier": 123,
                    "lastModified": "2024-02-15T19:00:00"
                  },
                  {
                    "@content": "http://schema.org",
                    "@type": "VirtualLocation",
                    "identifier": 124,
                    "lastModified": "2024-02-15T19:00:00"
                  },
                  {
                    "@content": "http://schema.org",
                    "@type": "Place",
                    "identifier": 125,
                    "lastModified": "2024-02-15T19:00:00"
                  }
                ]

        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Not found.
        '5XX':
          description: Unexpected error.
  /contributors/{id}:
    get:
      summary: Get Contributor data
      parameters:
        - name: id
          description: id of contributor
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: >
                {
                  "@context": "https://schema.org",
                  "@type": "Person",
                  "identifier": 10,
                  "name": "John Smith",
                  "description": "John Smith is a comedian from Montreal.",
                  "alternateName": "John Smith Funny Guy",
                  "gender": "Male",
                  "birthDate": "1980-01-15",
                  "nationality": "Canada",
                  "image": "https://www.johnsmithcomedy.com/images/john-smith.jpg",
                  "thumbnail": "https://example.com/john-smith-thumbnail.jpg",
                  "url": "https://john-smith.com",
                  "sameAs": [
                    "https://www.linkedin.com/in/john-smith",
                    "https://twitter.com/john-smith",
                    "https://www.facebook.com/john-smith"
                  ],
                  "performerIn": {
                    "@type": "Event",
                    "identifier": 14,
                    "name": "John Smith Comedy Show",
                    "description": "Join us for a night of laughter with the hilarious John Smith.",
                    "startDate": "2024-02-15T19:00:00",
                    "endDate": "2024-02-15T21:00:00",
                    "eventStatus": "EventScheduled",
                    "eventAttendanceMode": "OfflineEventAttendanceMode",
                    "image": "https://example.com/john-smith.jpg",
                    "thumbnail": "https://example.com/john-smith-thumbnail.jpg",
                    "inLanguage": "en",
                    "location": {
                      "@type": "Place",
                      "identifier": 23,
                      "name": "Comedy Club A",
                      "description": "A beautiful location to host your next event",
                      "address": {
                        "streetAddress": "789 Laughter Lane",
                        "addressLocality": "Humorville",
                        "addressRegion": "Quebec",
                        "postalCode": "G1T 4R1",
                        "addressCountry": "CA"
                      },
                      "geo": {
                        "@type": "GeoCoordinates",
                        "latitude": 37.23332,
                        "longitude": -133.4333
                      },
                      "maximumAttendeeCapacity": 240
                    },
                    "performer": {
                      "@type": "Person",
                      "identifier": 10,
                      "name": "John Smith",
                      "image": "https://www.johnsmithcomedy.com/images/john-smith.jpg",
                      "thumbnail": "https://example.com/john-smith-thumbnail.jpg",
                      "url": "https://john-smith.com",
                      "sameAs": ["https://www.linkedin.com/in/john-smith", "https://twitter.com/john-smith", "https://www.facebook.com/john-smith"]
                    },
                    "offers": {
                      "url": "http://example.com/ticket-sales-club-a",
                      "priceCurrency": "CAD",
                      "price": 10.00,
                      "availability": "InStock",
                      "availabilityEnds": "2024-03-04T10:00:00",
                      "availabilityStarts": "2023-08-04T10:00:00"
                    },
                    "isAccessibleForFree": false,
                    "disciplines": [
                      {
                        "identifier": 304,
                        "code": "UI-D-Comedy",
                        "label": "Comedy",
                        "vocabularyName": "V1UITaxoDVitrine",
                        "additionalTypeIdVitrine": "V1UITaxoDVitrine_UI-D-Comedy"
                      }
                    ]
                  },
                  "affiliation": {
                    "identifier": 6,
                    "name": "Comedy Organization",
                    "description": "Comedy Organization is a group of comedians from Montreal.",
                    "url": "https://comedy-organization.com",
                    "image": "https://example.com/comedy-organization.jpg",
                    "thumbnail": "https://example.com/comedy-organization-thumbnail.jpg",
                    "address": {
                      "streetAddress": "789 Laughter Lane",
                      "addressLocality": "Humorville",
                      "addressRegion": "Quebec",
                      "postalCode": "G1T 4R1",
                      "addressCountry": "CA"
                    },
                    "geo": {
                      "@type": "GeoCoordinates",
                      "latitude": 37.23332,
                      "longitude": -133.4333
                    },
                    "sameAs": ["https://www.linkedin.com/in/comedy-organization", "https://twitter.com/comedy-organization", "https://www.facebook.com/comedy-organization"]
                  }
                }
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Not found.
        '5XX':
          description: Unexpected error.
  /contributors:
    get:
      summary: Query Contributors. Returns list of results. Only validated contributors are returned. Used to gather lists of contributors then separate calls to the API are made to get details for each contributor.
      parameters:
        - name: lastModified
          in: query
          description: UNIX Timestamp (UTC)
          required: false
          schema:
            type: integer
        - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: >
                [
                  {
                    "@context": "https://schema.org",
                    "@type": "Person",
                    "identifier": 10,
                    "lastModified": "2024-02-15T19:00:00"
                  },
                  {
                    "@context": "https://schema.org",
                    "@type": "Organization",
                    "identifier": 6,
                    "lastModified": "2024-02-15T19:00:00"
                  }
                ]
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Not found.
        '5XX':
          description: Unexpected error.
components:
  parameters:
    lang: 
      name: lang
      in: query
      description: Language preference for data (fr or en, default is fr)
      schema:
        type: string
        enum:
          - "fr"
          - "en"
        default: "fr"